<p>insertarticle works!</p>
<div class="card container w-50">
<form (ngSubmit)="ajoutarticle()">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Designation</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Designation" name="designation" [(ngModel)]="nouvarticle.designation">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Image article</label>
        <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="Image article" name="imageart" [(ngModel)]="nouvarticle.imageart">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Marque</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Marque" name="marque" [(ngModel)]="nouvarticle.marque">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Prix</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Prix" name="prix" [(ngModel)]="nouvarticle.prix">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quantite Stock</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Quantite Stock" name="qtestock" [(ngModel)]="nouvarticle.qtestock">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Reference</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Reference" name="reference" [(ngModel)]="nouvarticle.reference">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">scategorieID</label>
        <select name="scategorieID"class="form-control" [(ngModel)]="nouvarticle.scategorieID">
            <option *ngFor="let sd of scategories" value="{{sd._id}}">
                {{sd.nomscategorie}}

            </option>
        </select>
    </div>
    <div class="container row g-2">
        <div class="col-6 d-flex justify-content-center"><button type="submit"class="btn btn-success w-50">Ajouter</button></div>
        <div class="col-6 d-flex justify-content-center"><button type="button"class="btn btn-danger w-50">Annuler</button></div>
    </div>
     
</form>

</div>
