<p>listearticletable works!</p>
<h1>Liste des articles</h1>
<div class="container">
    <button type="button" class="btn btn-success">Ajouter</button>
   
    <table *ngIf="articles" datatable class="table table-hover table-striped table-bordered">
        <thead>
            <tr> 
                <th>Designation</th>
                <th>Images</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>Qte Stock</th>
                <th>Reference</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>

        </thead>
        <tbody>
            <tr class="table-life" *ngFor="let a of articles">
                <td>{{a.designation}}</td>
                <td><img src="{{a.imageart}}"width="120" height="60"></td>
                <td>{{a.marque}}</td>
                <td>{{a.prix}}</td>
                <td>{{a.qtestock}}</td>
                <td>{{a.reference}}</td>
                <button type="button" class="btn btn-primary">Modifier</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
               
            </tr>
        </tbody>

    </table>
</div>
